<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/nav.ejs") %>

    <div id="main">
        <h2>The Solar System</h2> <br> <br>

        <img id="homePic" src="<%= randomImage %>" width="400">


    </div>
    

    <%- include("partials/footer.ejs") %>
</body>

</html>