<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    
    <%- include("partials/nav.ejs") %>
    <h2>Nasa POD</h2>
    <h3>Coming Soon...</h3>

    <%- include("partials/footer.ejs") %>
</body>
</html>